<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//cetiti.com//DTD Mapper 3.0//EN"  "http://cetiti.com/dataX-mapper.dtd">

<mapper namespace="com.cetiti.dataX.dao.UserDao" ns="用户信息" icon="user.png">
    <select id="selectUserList" resultType="map" selectId="用户列表">
        SELECT * FROM company_basic LIMIT #{pagenum},#{pagesize}
    </select>

    <select id="getUser" resultType="map" selectId="获取指定用户">
        SELECT id, name, sex FROM user11 WHERE  id = #{id}
    </select>
	
</mapper>