<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cetiti.dataX.dao.DataCenterDao">
    <select id="dataCenterList" resultType="DataCenter" parameterType="java.lang.String">
      SELECT sql_id,sql_type,sql_name,url,user_name,pass_word FROM data_center
      <where>
          <if test="keyWord != null">
              sql_name LIKE "%"#{keyWord}"%"
          </if>
          <if test="keyWord != null">
              OR url LIKE "%"#{keyWord}"%"
          </if>
      </where>
    </select>

    <select id="getDataCenter" resultType="DataCenter">
      SELECT sql_id,sql_type,sql_name,url,user_name,pass_word FROM data_center WHERE sql_id = #{sqlId}
    </select>

    <insert id="insertDataCenter" parameterType="DataCenter">
        INSERT INTO data_center (sql_type,sql_name,url,user_name,pass_word)
        VALUES (#{sqlType},#{sqlName},#{url},#{userName},#{passWord})
    </insert>

    <update id="updateDataCenter" parameterType="DataCenter">
        UPDATE data_center
        <set>
            <if test="sqlType != null">
                sql_type = #{sqlType},
            </if>
            <if test="sql_name != null">
                sql_name = #{sqlName},
            </if>
            <if test="url != null">
                url = #{url},
            </if>
            <if test="user_name != null">
                user_name = #{userName},
            </if>
            <if test="passWord != null">
                pass_word = #{passWord},
            </if>
        </set>
        WHERE sql_id = #{sqlId}
    </update>

    <delete id="deleteDataCenter" parameterType="java.lang.Integer">
        DELETE FROM data_center
        WHERE sql_id = #{sqlId}
    </delete>
</mapper>
