<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cetiti.dataX.dao.ServiceResourceDao">
    <select id="getServiceResource" resultType="ServiceResource">
      SELECT resource_url, data_id FROM SERVICE_RESOURCE
      WHERE category_id = #{categoryId}
    </select>

    <insert id="insertServiceResource" parameterType="ServiceResource">
        INSERT INTO SERVICE_RESOURCE (category_id, resource_url, name_space, icon_name, data_id)
        VALUES (#{categoryId},#{resourceUrl},#{nameSpace},#{iconName},#{dataId})
    </insert>
</mapper>
