<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cetiti.dataX.service.UserMapper">
    <resultMap id="userMapper" type="com.cetiti.dataX.entity.User">
        <id column="id" property="id" javaType="int" jdbcType="INTEGER"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"></result>
    </resultMap>

    <select id="selectUserList" resultType="user">
        SELECT id, name, sex FROM user11
    </select>

    <select id="getUser" resultMap="userMapper">
        SELECT id, name, sex FROM user11 WHERE  id = #{id}
    </select>
</mapper>