<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cetiti.dataX.dao.XmlResourceDao">
    <resultMap id="xmlAndApiInfo" type="XmlResource">
        <id column="category_id" property="categoryId"/>
        <id column="mapper_url" property="mapperUrl"/>
        <id column="name_space" property="nameSpace"/>
        <id column="icon_name" property="iconName"/>
        <id column="sql_id" property="sqlId"/>
        <id column="provider" property="provider"/>
        <id column="description" property="description"/>
        <collection property="apiMethodInfos" ofType="ApiMethodInfo">
            <id column="api_id" property="apiId"/>
            <result column="api_name" property="apiName"/>
            <result column="api_parameters" property="apiParameters"/>
            <result column="select_id" property="selectId"/>
            <result column="api_parameters" property="apiParameters"/>
        </collection>
    </resultMap>

    <select id="xmlResourceList" resultMap="xmlAndApiInfo">
        SELECT x.category_id,x.mapper_url,x.name_space,x.icon_name,x.sql_id,x.provider,x.description,a.api_id,a.api_name,a.select_id,a.api_parameters
        FROM xml_resource x LEFT JOIN api_method_info a ON x.category_id = a.category_id
    </select>

    <insert id="insertXmlResource" parameterType="XmlResource">
        INSERT INTO xml_resource (category_id,mapper_url,name_space,icon_name,sql_id,provider,description)
        VALUES (#{categoryId},#{mapperUrl},#{nameSpace},#{iconName},#{sqlId},#{provider},#{description})
    </insert>
</mapper>
